.heading{
    text-align: center;
    font-size: 48px;
    margin: 48px auto;
}
.hobbies{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.hobby{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:8px;
}     
.hobby_image_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 22vw;
}
.hobby_image{
    width:20vw;
}  
.hobby_name{
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-width:720px) {
    .hobby_image_container{
        width: 300px;
        height: 300px;
        margin:24px auto;
    }
    .hobby_image{
        width: 300px;
    }
    
}
