.skills{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.skill{
    width:144px;
    height:190px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:8px;
}
.skill_logo{
    height: 108px;
    transition: height .1s ease-out;
}
.skill_logo:hover{
    height: 144px;
}
.skill_name{
    font-size: 24px;
    text-align: center;
}
@media  only screen and (max-width:720px) {
    .skill_logo, .skill_logo:hover{
        height:96px;
    }
    .skill_name{
        font-size:24px;
    }
    .skill{
        justify-content: center;
    }
}
